# Logs & temporary files
*.log
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example
backend/.env
backend/.env.*
!backend/.env.example
frontend/.env
frontend/.env.*
!frontend/.env.example

# Dependencies
/vendor
backend/vendor/
/node_modules
frontend/node_modules/

# Frontend builds
frontend/dist/
frontend/dist-ssr/
*.local

# Testing & Cache
.phpunit.result.cache
.phpunit.cache
/.phpunit.cache
/storage/*.key
/storage/pail
backend/storage/*.key
backend/storage/pail
*.sqlite*
backend/database/*.sqlite*

# IDE & Editor specific
/.vscode
/.idea
/.zed
/.cursor/
/.codex
Homestead.json
Homestead.yaml
_ide_helper.php
